{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block body %}
    <div class="container">
        <h1> {{ article.title}}</h1>
        <p>
            By: <small> <strong>  {{ article.author}} </strong></small>
        </p>
        <p>
            <small>{{ article.date_created}}</small>
        </p>
        {% if article.body != 'none'%}
            <p>{{ article.body }}</p>
        {% else %}
            <a href="{{article.url}}">  Read more...</a>
        {% endif %}
        <p id="article-id" hidden>{{ article.id }}</p>

        <h3>Comments</h3>

    </div>


    <script  src="{% static 'article.js' %}"> </script>
{% endblock %}